<div class="col-md-2 left-menu">
    <ul>
        <li><a href="" class="big">Promocje</a></li>
        <li>
            <a href="#dla-pani" data-toggle="collapse" class="big">Dla Pani</a>
            <ul id="dla-pani" class="collapse">
                <li><a href="">Leki na przeziębienie</a></li>
                <li><a href="">Kobiece sprawy</a></li>
                <li><a href="">Świat mamy</a></li>
                <li><a href="">Odchudzanie</a></li>
                <li><a href="">Strefa wakacyjna</a></li>
            </ul>
        </li>
        <li>
            <a href="#dla-pana" data-toggle="collapse" class="big">Dla Pana</a>
            <ul id="dla-pana" class="collapse">
                <li><a href="">Leki na przeziębienie</a></li>
                <li><a href="">Męskie sprawy</a></li>
                <li><a href="">Dla sportowców</a></li>
                <li><a href="">Odchudzanie</a></li>
                <li><a href="">Strefa wakacyjna</a></li>
            </ul>
        </li>
        <li>
            <a href="#dla-dziecka" data-toggle="collapse" class="big">Dla Dziecka</a>
            <ul id="dla-dziecka" class="collapse">
                <li><a href="">Akcesoria do karmienia</a></li>
                <li><a href="">Kosmetyki</a></li>
                <li><a href="">Żywienie</a></li>
                <li><a href="">Leki dla najmłodszych</a></li>
            </ul>
        </li>
        <li>
            <a href="#dla-seniora" data-toggle="collapse" class="big">Dla Seniora</a>
            <ul id="dla-seniora" class="collapse">
                <li><a href="">Problemy sercowe</a></li>
                <li><a href="">Wątroba i żołądek</a></li>
                <li><a href="">Wzrok</a></li>
                <li><a href="">Kremy i maści</a></li>
            </ul>
        </li>
        <li>
            @Html.ActionLink("Lek recepturowy", "Index", "RecipeDrug", null, new { @class = "big" })
        </li>
    </ul>
</div>